<header class="header">
    <div class="header__top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12 ">
                    <p>460 West 34th Street, 15th floor, New York - Hotline: 804-377-3580 - 804-399-3580</p>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 ">
                    <div class="header__actions">
                        <a href="#">Login & Regiser</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navigation">
        <div class="container-fluid">
            <div class="navigation__column left" style=" width: 15%!important;">
                <div class="header__logo"><a class="ps-logo" href="index.html"><img src="~/Resources/images/logo.png" alt=""></a></div>
            </div>
            <div class="navigation__column center"  style=" width: 60%!important;">
                
                <ul class="main-menu menu">
                    <li class="menu-item menu-item-has-children dropdown">
                        <a href="@("http://" + Context.Request.Host.ToString() + "/Restourant/Search?type=1")">Ev Yemekleri</a>

                    </li>
                    <li class="menu-item menu-item-has-children has-mega-menu">
                        <a href="@("http://" + Context.Request.Host.ToString() + "/Restourant/Search?type=2")">Fast Food</a>

                    </li>
                    <li class="menu-item"><a href="@("http://" + Context.Request.Host.ToString() + "/Restourant/Search?type=3")">İçecek</a></li>
                    <li class="menu-item"><a href="@("http://" + Context.Request.Host.ToString() + "/Restourant/Search?type=4")">Pasta & Tatlılar</a></li>
                    <li class="menu-item menu-item-has-children dropdown">
                        <a href="@("http://" + Context.Request.Host.ToString() + "/Restourant/Search?type=5")">Dünya Mutfağı</a>

                    </li>
                    <li class="menu-item menu-item-has-children dropdown">
                        <a href="@("http://" + Context.Request.Host.ToString() + "/Restourant/Search?type=6")">Yöresel</a>

                    </li>
                </ul>
            </div>
            <div class="navigation__column right">
                <div class="ps-cart">
                    <a class="ps-cart__toggle" href="/Basket">
                        <span><i>20</i></span><i class="ps-icon-shopping-cart"></i>
                    </a>
                    <div class="ps-cart__listing">
                        <div class="ps-cart__content">
                            <div class="ps-cart-item">
                                <a class="ps-cart-item__close" href="#"></a>
                                <div class="ps-cart-item__thumbnail">
                                    <a href="product-detail.html"></a><img src="~/Resources/images/cart-preview/1.jpg" alt="">
                                </div>
                                <div class="ps-cart-item__content">
                                    <a class="ps-cart-item__title" href="product-detail.html">
                                        Amazin’
                                        Glazin’
                                    </a>
                                    <p><span>Quantity:<i>12</i></span><span>Total:<i>£176</i></span></p>
                                </div>
                            </div>
                            <div class="ps-cart-item">
                                <a class="ps-cart-item__close" href="#"></a>
                                <div class="ps-cart-item__thumbnail">
                                    <a href="product-detail.html"></a><img src="~/Resources/images/cart-preview/2.jpg" alt="">
                                </div>
                                <div class="ps-cart-item__content">
                                    <a class="ps-cart-item__title" href="product-detail.html">
                                        The
                                        Crusty Croissant
                                    </a>
                                    <p><span>Quantity:<i>12</i></span><span>Total:<i>£176</i></span></p>
                                </div>
                            </div>
                            <div class="ps-cart-item">
                                <a class="ps-cart-item__close" href="#"></a>
                                <div class="ps-cart-item__thumbnail">
                                    <a href="product-detail.html"></a><img src="~/Resources/images/cart-preview/3.jpg" alt="">
                                </div>
                                <div class="ps-cart-item__content">
                                    <a class="ps-cart-item__title" href="product-detail.html">
                                        The
                                        Rolling Pin
                                    </a>
                                    <p><span>Quantity:<i>12</i></span><span>Total:<i>£176</i></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="ps-cart__total">
                            <p>Number of items:<span>36</span></p>
                            <p>Item Total:<span>£528.00</span></p>
                        </div>
                        <div class="ps-cart__footer">
                            <a class="ps-btn" href="cart.html">
                                Check out<i class="ps-icon-arrow-left"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="menu-toggle"><span></span></div>
            </div>
        </div>
    </nav>
</header>